extends layout

block content
	h1 #{title}
	for libro in libros
		div.book
			img(src=libro.img)
			h2=libro.titulo
			p=libro.isbn
			//button(data-id=libro.isbn) borrar
			a(href='/libros/delete/'+libro.isbn) borrar
			a(href='/libros/'+libro.isbn) ver detalle